.homepage {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

.homepage-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .homepage-images {
    color: $color-white;
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto;

    .carousel-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 50px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
    }

    .arrow-prev {
      left: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);

    }

    .arrow-next {
      right: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }

    [id^= "item"] {
      display: none;
    }

    .item-1 {
      z-index: 2;
      opacity: 1;
      background: url('../../assets/hospital-images/hospital1.jpeg');
      background-size: cover;
    }

    .item-2 {
      background: url('../../assets/hospital-images/hospital2.jpeg');
      background-size: cover;
    }

    .item-3 {
      background: url('../../assets/hospital-images/hospital3.jpeg');
      background-size: cover;
    }

    *:target ~ .item-1 {
      opacity: 0;
    }

    #item-1:target ~ .item-1 {
      opacity: 1;

    }

    #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
  }

  .homepage-aboutUs {
    background-color: $color-white;
    font-family: sans-serif;
    justify-content: center;

    p {
      margin: 10%;
      line-height: 1.8;
      letter-spacing: 2px;
    }

    h1 {
      margin: 5%;
    }
  }

}

.homepage-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .homepage-patient {
    display: grid;
    place-items: center;
    line-height: 1.6;
    font-family: sans-serif;
    margin: 10px;

    .patient-card {
      color: $color-white;
      background-image: url(../../assets/patient.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 13rem 0 0;
      max-width: 40ch;
      border-radius: .5rem;
      overflow: hidden;
    }

    .patient-card-content {
      padding: 1.5em;
      background: $color-theme-2;
    }

    .patient-card-title {
      position: relative;
    }

    .patient-card-title::after {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $color-theme-2;
    }
  }

  .homepage-doctor {
    display: grid;
    place-items: center;
    line-height: 1.6;
    font-family: sans-serif;
    margin: 10px;

    .doctor-card {
      color: $color-white;
      background-image: url(../../assets/docImg.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 13rem 0 0;
      max-width: 40ch;
      border-radius: .5rem;
      overflow: hidden;
    }

    .doctor-card-content {
      padding: 1.5em;
      background: $color-theme-2;
    }

    .doctor-card-title {
      position: relative;
    }

    .doctor-card-title::after {
      content: "";
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $color-theme-2;
    }
  }
}

.card-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: $color-black;
  padding: 0.5em 1.25em;

  &:hover, :focus {
    background-color: $color-off-white-1;
    color: $color-black;
  }

  border-radius: 0.25em;
}


@media screen and (min-width: 1300px) {
  .homepage {
    flex-direction: row;
    height: 100vh;
  }
  .homepage-left, .homepage-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }
}