$color-white: hsla(0, 0%, 100%, 1);
$color-off-white-1: hsla(0, 0%, 98%, 1);
$color-off-white-2: hsla(0, 0%, 95%, 1);
$color-off-white-3: hsla(0, 0%, 85%, 1);
$color-off-white-4: hsla(0, 0%, 80%, 1);
$color-off-white-5: hsla(0, 0%, 75%, 1);

$color-black: hsla(0, 0%, 0%, 1);
$color-grey-1: hsla(204, 5%, 59%, 0.64);
$color-grey-2: hsla(204, 5%, 40%, 1);
$color-grey-3: hsla(0, 1%, 32%, 1);

$color-grey-light-1: hsla(0, 0%, 98%, 1);
$color-grey-light-2: hsla(0, 1%, 95%, 1);
$color-grey-light-3: hsla(0, 1%, 94%, 1);
$color-grey-light-4: hsla(0, 0%, 80%, 1);

$color-shadow-1: hsla(0, 0%, 0%, 0.3);
$color-shadow-2: hsla(0, 0%, 0%, 0.2);
$color-shadow-3: hsla(0, 0%, 20%, 1);
$color-shadow-4: hsla(0, 0%, 82%, 1);

$color-primary-1: hsl(209, 78%, 46%);
$color-primary-2: hsl(209, 78%, 56%);
$color-primary-3: hsl(209, 78%, 66%);
$color-primary-4: hsl(209, 78%, 70%);
