$color-white: hsla(0, 0%, 100%, 1);
$color-off-white-1: hsla(0, 0%, 95%, 1);
$color-off-white-2: hsla(0, 0%, 90%, 1);
$color-off-white-3: hsla(0, 0%, 80%, 1);
$color-off-white-4: hsla(0, 0%, 70%, 1);
$color-off-white-5: hsla(0, 0%, 55%, 1);

$color-black: hsla(0, 0%, 0%, 1);
$color-grey-1: hsla(204, 5%, 60%, 1);
$color-grey-2: hsla(204, 5%, 40%, 1);
$color-grey-3: hsla(204, 5%, 25%, 1);
$color-grey-4: hsla(0, 1%, 10%, 1);
$color-grey-5: hsla(207, 19%, 9%, 1);

$color-grey-light-1: hsla(0, 10%, 78%, 1);
$color-grey-light-2: hsla(0, 10%, 74%, 1);
$color-grey-light-3: hsla(0, 10%, 60%, 1);

$color-shadow-1: hsla(0, 0%, 0%, 0.3);
$color-shadow-2: hsla(0, 0%, 0%, 0.2);
$color-shadow-3: hsla(0, 0%, 20%, 1);
$color-shadow-4: hsla(0, 0%, 82%, 1);

$color-primary-1: hsl(209, 78%, 35%);
$color-primary-2: hsl(209, 78%, 46%);
$color-primary-3: hsl(209, 78%, 56%);
$color-primary-4: hsl(209, 78%, 66%);
$color-primary-5: hsl(209, 78%, 70%);

$color-theme-1: hsla(155, 43%, 18%, 1);
$color-theme-2: hsla(153, 40%, 30%, 1);
$color-theme-3: hsl(153, 39%, 41%, 1);
$color-theme-4: hsl(152, 41%, 52%, 1);
$color-theme-5: hsl(150, 42%, 62%, 1);
$color-theme-6: hsl(147, 43%, 71%, 1);
$color-theme-7: hsl(141, 45%, 81%, 1);
$color-theme-8: hsl(129, 53%, 90%, 1);


$color-success: hsla(106, 35%, 50%, 1);
$color-success-revert: hsla(106, 35%, 85%, 1);

$color-danger: hsla(0, 60%, 45%, 1);
$color-danger-revert: hsla(0, 60%, 85%, 1);

$color-edit: hsla(38, 88%, 64%, 1);
$color-edit-revert: hsla(38, 88%, 85%, 1);
